<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @news.subtitle %>
</p>

<p>
  <strong>Publishing date:</strong>
  <%= @news.publishing_date %>
</p>

<p>
  <strong>Crawl date:</strong>
  <%= @news.crawl_date %>
</p>

<p>
  <strong>News body:</strong>
  <%= @news.news_body %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @news.tags %>
</p>

<%= link_to 'Edit', edit_news_path(@news), {class: 'btn btn-secondary'} %> |
<%= link_to 'Back', news_index_path, {class: 'btn btn-primary'} %>
