<!DOCTYPE html>
<html>
  <head>
    <title>Rails Crawler</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
    // Sucess message when the scraper finishes
    const scrapeButton = document.querySelector('.scrape-button');
    scrapeButton.addEventListener('click', function(e) {
      e.preventDefault();
      this.setAttribute('value', '');
      this.className = "spinner-border text-primary mb-5 mt-5";
      e.submit();
    });
  </script>
</html>
